<section 	class="spark-gallery scrolling-tabs {{ spark_class }}"
			active-tab="{{ active_tab }}">
	{% if header %}<h2>{{ header }}</h2>{% endif %}
	<ul id="thumbnail-pager"class="tabs">
	{% for slide in post.get_field( 'issue_area' ) %}
		{% include tab_template %}
	{% endfor %}
	</ul>
</section>
<section 
	class="tab-content"
	data-cycle-fx="scrollHorz"
    data-cycle-timeout="0"
    data-cycle-prev=".tab-pager .prev"
    data-cycle-next=".tab-pager .next"
    data-cycle-slides="> ul > .slide"
    data-cycle-pager="#thumbnail-pager"
    data-cycle-auto-height="container"
    data-cycle-pager-template="">

	<ul>
	{% for slide in post.get_field('issue_area') %}
		{% include content_template %}
	{% endfor %}
	</ul>
	<ul class="tab-pager">
		<li class="prev">< Previous Issue</li>
		<li class="next">Next Issue ></li>
	</ul>
</section>
