<nav class="social">
	<ul>
		<li class="facebook social-button"><a href="{{ action.facebook }}" target="_blank"></a></li>
		<li class="twitter social-button"><a href="{{ action.twitter }}" target="_blank"></a></li>
		<li class="mail social-button"><a href="mailto:{{ email }}"></a></li>
		<li class="donate social-button"><a href="{{ action.donate }}"> Donate </a></li>
	</ul>
</nav>