<nav class="social">
	<ul>
		{% if facebook %} <li class="facebook social-button"><a href="{{ facebook }}" target="_blank"></a></li> {% endif %}
		{% if twitter %} <li class="twitter social-button"><a href="{{ twitter }}" target="_blank"></a></li> {% endif %}
		{% if email %} <li class="mail social-button"><a href="mailto:{{ email }}"></a></li> {% endif %}
		{% if donate %} <li class="donate social-button"><a class="donate spark-modal-trigger" modal-name="donate"> Donate </a></li> {% endif %}
	</ul>
</nav>