<section class="spark-gallery scrolling-tabs {{ spark_class }}">
	{% if header %}<h2>{{ header }}</h2>{% endif %}
	<ul id="thumbnail-pager"class="tabs">
	{% for slide in post.get_field( slide_field ) %}
		{% include tab_template %}
	{% endfor %}
	</ul>
</section>
<section 
	class="tab-content cycle-slideshow"
	data-cycle-fx="scrollHorz"
    data-cycle-timeout="0"
    data-cycle-prev=".tab-pager .prev"
    data-cycle-next=".tab-pager .next"
    data-cycle-slides="> ul > .slide"
    data-cycle-pager="#thumbnail-pager"
    data-cycle-pager-template="">

	<ul>
	{% for slide in post.get_field(slide_field) %}
		{% include content_template %}
	{% endfor %}
	</ul>
	<ul class="tab-pager">
		<li class="prev">Previous Team Memeber</li>
		<li class="next">Next Team Member</li>
	</ul>
</section>