/** Base Styles for Rights for Girls **/

$container-width: 1200;
$margin: 60;
$columns: 12;
$column-gutter: 0;
$column-width : ($container-width - ( $margin * 2 ))/$columns ;


// Layout/Frame
@mixin container{
	display: block;
	margin: auto;
	width: #{$container-width}px;
	padding: 0 #{$margin}px; 
	position: relative;

}

@mixin column($n){
	width:  #{$n * $column-width}px;// / $container-width ) * 100%;
	display: inline-block;
	margin-left: -3px;
}
@mixin push($n){
	margin-left:  #{$n * $column-width}px;// / $container-width ) * 100%;
}


@mixin form {
	
	input {
		border: none;
		padding: 10px;
		color: $stronggray;
		background: $lightgray;

		&:focus {
			color: black;
		}	

		.wpcf7-form :before{
			content:$pencil;
			color: $purple3;
			font-family: "FontAwesome";
		}
		
		&[type="submit"]{
			color: $black;
			border-bottom: 3px solid black;
			background: none;
			text-transform: uppercase;
			@include call-to-action;
			padding: 0;
			margin-top: 25px;
		}	
	}

}

html {
	overflow-x: hidden;
}

body.rights_app{
	@include long-body; 

	& * {
		box-sizing: border-box;
	}

	.container{
		@include container;
	}
}

section {
	display: block;
}

@include form;