

/* icons */
$home: "\f015";
$twitter: "\f099";
$facebook: "\f09a";
$mail: "\f0e0";
$heart: "\f08a";
$rightarrow: "\f105";
$leftarrow: "\f104";
$circlerightarrow: "\f138";

// social links
$facebook 	: "\f09a";
$twitter  	: "\f099";
$mail		: "\f0e0";

/* graphics */
$logo: url('style/images/logo.png');
$logo_hover: url('style/images/logo_hover.png');
$call_to_action_background: url('style/images/call_to_action_background.jpg');
