

/* icons */
$home: "\f015";
$heart: "\f08a";
$rightarrow: "\f105";
$leftarrow: "\f104";
$circlerightarrow: "\f138";
$circlecheck: "\f05d";
$circlex: "\f05c";
$pencil: "\f040";
$paper: "\f02d";
$factsheet: "\f0f6";
$letter: "\f0f6";
$brief: "\f0e3";
$petition: "\f040";
$searchplus: "\f00e";
$commentbubble: "\f0e5";
$close: url('style/images/x.png');


// social links
$facebook 	: "\f09a";
$twitter  	: "\f099";
$mail		: "\f0e0";
$mailwire	: "\f003";
$comment 	: "\f0e5";

/* graphics */
$logo: url('style/images/logo.png');
$logo_hover: url('style/images/logo_hover.png');
$call_to_action_background: url('style/images/call_to_action_background.jpg');