
// @mixin form {
	
// 	input {
// 		border: none;
// 		padding: 10px;
// 		color: $stronggray;
// 		background: $lightgray;

// 		&:focus {
// 			color: black;
// 		}	
		
// 		&[type="submit"]{
// 			color: black;
// 			border-bottom: 3px solid black;
// 			@include 
// 		}	
// 	}

// }

@mixin issue_tab {
 
			display: inline-block;
			position: relative;
			vertical-align: top;
			width: 305px;
			height: 365px;
			white-space: normal;

			background-size: cover;
			border: 10px solid $lightgray;

			&:not(:nth-child(3n)){
				margin-right: 70px;
			}

			.content, .stat-highlight, .learn-more {
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;

				text-align: center;
				padding: 100px 30px 0;
				background: $opaqueblack;
				color: white;

				transition: .5s opacity ease-in-out;	
				cursor: pointer;
				text-decoration: none;

				h2{ 
					@include h1; 
					font-size: 50px;
					color: $teal;
					width: 100%;
					line-height: 50px;
				}
				h3{ @include h5; font-size: 30px; margin-bottom: 1rem; }
				p { @include h7; line-height: 1.5em; }

			}
			//Interaction
			.learn-more {
				opacity: 0;
				.action {
					padding-bottom: 15px;
					margin-bottom: 15px;
					border-bottom: 2px solid white;
					display: block;
				}
			}

			&:hover {
				.stat-highlight {
					opacity: 0;
				}
				.learn-more {
					opacity: 1;
					background: rgba(0,0,0,.1);
				}
			}		
}

@mixin large_header {
	text-align: center;
	background: $purple3;
	color: white;
	padding: 70px;
}

@mixin file_downloader {
	hgroup{
		@include large_header;
		background: $purple1; 
		h2{ 
			@include h2; 
			width: auto;
			padding-bottom: 20px;
			border-bottom: 2px solid $purple5;
			margin-bottom: 10px; 
			display: inline-block;
		}
		span{
			display: block;
			@include h7;
		}
	}
	.filters {
		@include large_header;
		background: $lightgray;
		@include h6;
		font-size: 28px; 
		padding: 40px;
		position: relative;
		z-index: 100;

		li {
			display: inline-block;
			width: 200px;
			&:not(:last-of-type){
				padding-right: 20px;
				border-right: 2px solid $stronggray;
			}

			&.paper {
				color: $purple2;
				a { color: $purple2; }
				&:before{ content: $paper;}
			}

			&.factsheet {
				color: $purple4; 
				a { color: $purple4; }
				&:before{ content: $factsheet;}
			}
			&.letter {
				color: $purple1; 
				a { color: $purple1; }
				&:before{ content: $mailwire;}
			}
			&.brief {
				color: $purple4; 
				a { color: $purple4; }
				&:before{ content: $brief;}
			}
			&.petition {
				color: $purple5; 
				a { color: $purple5; }
				&:before{ content: $petition;}
			}



			&:before {
				display: inline-block;
				font-size: 30px;	
				font-family: "FontAwesome";
				margin-right: 10px; 
			} 

		}
		&:after {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: "";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-top-color: $lightgray;
			border-width: 30px;
			margin-left: -30px;
		}
	}
	background: $stronggray;
	.slides {
		@include container; 
		text-align: center;
		padding: 90px 0 110px;

	}
	.file{
		display: inline-block;
		width: 255px; 
		margin-bottom: 30px;
		height: 255px;
		vertical-align: top;

		padding: 50px 30px;
		text-align: center;
		background: $lightgray;
		box-shadow: 0 0 10px 0 #888; 

		a {
			@include h6;
			font-size: 20px;
			text-decoration: none;
			margin-top: 20px;
			line-height: 1em;
			display: block;
		}

		&:not(:nth-child(3n)){
			margin-right: 100px;
		}

		&.Paper {
			border-top: 20px solid $purple2;
			color: $purple2;
			a { color: $purple2; }
			&:before{ content: $paper;}
		}

		&.Fact.Sheet {
			border-top: 20px solid $purple4;
			color: $purple4;
			a { color: $purple4; }
			&:before{ content: $factsheet;}
		}
		&.Letter {
			border-top: 20px solid $purple1;
			color: $purple1; 
			a { color: $purple1; }
			&:before{ content: $mailwire;}
		}
		&.Brief {
			border-top: 20px solid $purple4;
			color: $purple4; 
			a { color: $purple4; }
			&:before{ content: $brief;}
		}
		&.Petition {
			border-top: 20px solid $purple5;
			color: $purple5; 
			a { color: $purple5; }
			&:before{ content: $petition;}
		}

		&:before {
			display: block;
			font-size: 30px;	
			font-family: "FontAwesome";
			margin-bottom: 10px; 
		} 
	}
}