
// @mixin form {
	
// 	input {
// 		border: none;
// 		padding: 10px;
// 		color: $stronggray;
// 		background: $lightgray;

// 		&:focus {
// 			color: black;
// 		}	
		
// 		&[type="submit"]{
// 			color: black;
// 			border-bottom: 3px solid black;
// 			@include 
// 		}	
// 	}

// }

@mixin triangledown {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0;
	border-color: transparent transparent $purple3 transparent;
}

@mixin issue_tab {
 
			display: inline-block;
			position: relative;
			vertical-align: top;
			width: 305px;
			height: 365px;
			white-space: normal;

			background-size: cover;
			border: 10px solid $lightgray;

			&:not(:nth-child(3n)){
				margin-right: 70px;
			}

			.content, .stat-highlight, .learn-more {
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;

				text-align: center;
				padding: 100px 30px 0;
				background: $opaqueblack;
				color: white;

				transition: .5s opacity ease-in-out;	
				cursor: pointer;
				text-decoration: none;

				h2{ 
					@include h1; 
					font-size: 50px;
					color: $teal;
					width: 100%;
					line-height: 50px;
				}
				h3{ @include h5; font-size: 30px; margin-bottom: 1rem; }
				p { @include h7; line-height: 1.5em; }

			}
			//Interaction
			.learn-more {
				opacity: 0;
				.action {
					padding-bottom: 15px;
					margin-bottom: 15px;
					border-bottom: 2px solid white;
					display: block;
				}
			}

			&:hover, &.cycle-pager-active {
				.stat-highlight {
					opacity: 0;
				}
				.learn-more {
					opacity: 1;
					background: rgba(0,0,0,.1);
				}
			}		
}

@mixin large_header {
	text-align: center;
	background: $purple3;
	color: white;
	padding: 70px;
}

@mixin file_downloader {
	hgroup{
		@include large_header;
		background: $purple1; 
		h2{ 
			@include h2; 
			width: auto;
			padding-bottom: 20px;
			border-bottom: 2px solid $purple5;
			margin-bottom: 10px; 
			display: inline-block;
		}
		span{
			display: block;
			@include h7;
		}
	}
	.filters {
		@include large_header;
		background: $lightgray;
		@include h6;
		font-size: 28px; 
		padding: 40px;
		position: relative;
		z-index: 100;

		li {
			display: inline-block;
			width: 200px;
			&:not(:last-of-type){
				padding-right: 20px;
				border-right: 2px solid $stronggray;
			}

			&.paper {
				color: $purple2;
				a { color: $purple2; }
				&:before{ content: $paper;}
			}

			&.factsheet {
				color: $purple4; 
				a { color: $purple4; }
				&:before{ content: $factsheet;}
			}
			&.letter {
				color: $purple1; 
				a { color: $purple1; }
				&:before{ content: $mailwire;}
			}
			&.brief {
				color: $purple4; 
				a { color: $purple4; }
				&:before{ content: $brief;}
			}
			&.petition {
				color: $purple5; 
				a { color: $purple5; }
				&:before{ content: $petition;}
			}



			&:before {
				display: inline-block;
				font-size: 30px;	
				font-family: "FontAwesome";
				margin-right: 10px; 
			} 

		}
		&:after {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: "";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-top-color: $lightgray;
			border-width: 30px;
			margin-left: -30px;
		}
	}
	background: $stronggray;
	.slides {
		@include container; 
		text-align: center;
		padding: 90px 0 110px;

	}
	.file{
		display: inline-block;
		width: 255px; 
		margin-bottom: 30px;
		height: 255px;
		vertical-align: top;
		position: relative;

		padding: 50px 30px;
		text-align: center;
		background: $lightgray;
		box-shadow: 0 0 10px 0 #888; 
		// div{
			
		// 	color:$purple3;
		// 	border-top:2px solid $purple4;
		// 	position: absolute;
		// 	width: 75%;
		// 	bottom: 0;
		// 	padding: 5px;
		// 	text-transform: uppercase;
		// 	font-size: 18px;
		// 	font-weight: bold;
		// 	font-family: 'franklin-gothic-urw-comp';
		// }
		
		a {
			@include h6;
			font-size: 20px;
			text-decoration: none;
			margin-top: 20px;
			line-height: 1em;
			display: block;
		}
		.view-pdf{
			bottom: 10px;
			border-top: 2px solid $purple5;
			color: $purple5;
			font-family: "franklin-gothic-urw-comp";
			font-size: 18px;
			margin: auto;
			padding-top: 10px;
			position: absolute;
			text-transform: uppercase;
			visibility: hidden;
			width: 75%;
			
		}
		&:not(:nth-child(3n)){
			margin-right: 100px;
		}

		&.Paper {
			border-top: 20px solid $purple2;
			color: $purple2;
			a { color: $purple2; }
			&:before{ content: $paper;}
		}

		&.Fact.Sheet {
			border-top: 20px solid $purple4;
			color: $purple4;
			a { color: $purple4; }
			&:before{ content: $factsheet;}
		}
		&.Letter {
			border-top: 20px solid $purple1;
			color: $purple1; 
			a { color: $purple1; }
			&:before{ content: $mailwire;}
		}
		&.Brief {
			border-top: 20px solid $purple4;
			color: $purple4; 
			a { color: $purple4; }
			&:before{ content: $brief;}
		}
		&.Petition {
			border-top: 20px solid $purple5;
			color: $purple5; 
			a { color: $purple5; }
			&:before{ content: $petition;}
		}

		&:before {
			display: block;
			font-size: 30px;	
			font-family: "FontAwesome";
			margin-bottom: 10px; 
		} 
		&:hover{
			// a::after{
			// 	content: "";
			// 	border-bottom: 1px solid $black;
			// 	display: block;
			// 	width: 90%;
			// 	bottom: 40px;
			// 	position: absolute;
			// 	left: 0;
			// 	right: 0;
			// 	margin: auto;
			// }
				
		}
	}	
	.file:hover .view-pdf{
			visibility: visible;
			transition: .25s visibility ease-in-out;
			}
			.view-pdf:before{
				content:$circlerightarrow;
				font-family: "FontAwesome";
				// font-size: 20px;
			 	margin-right: 10px;
			}
}

@mixin feed-pager-arrows{
	.feed-pager{
		display: block;
		position: absolute;
		width: 65px;
		height: 70px;
		top: 0;
		bottom: 0;
		margin: auto;
		&.next{
			right: 5px;
			background: url(style/images/pager-left-inactive.png) no-repeat;
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			transform: rotate(180deg);
			&:hover{
				background: url(style/images/pager-left-active.png) no-repeat;
			}
		}
		&.prev{
			left: 5px;
			background: url(style/images/pager-left-inactive.png) no-repeat;
			&:hover{
				background: url(style/images/pager-left-active.png) no-repeat;
			}
		}

	}
}

@mixin gallery-pager-arrows{
	.gallery-pager{
		display: block;
		position: absolute;
		width: 58px;
		height: 105px;
		top: 0;
		bottom: 0;
		margin: auto;
		z-index: 1000;
		&.cycle-next{
			right: 0;
			background: url(style/images/gallery-arrow-right.png) no-repeat;
			&:hover{
				background: url(style/images/gallery-arrow-right-active.png) no-repeat;
			}
		}
		&.cycle-prev{
			left: 0;
			background: url(style/images/gallery-arrow-left.png) no-repeat;
			&:hover{
				background: url(style/images/gallery-arrow-left-active.png) no-repeat;
			}
		}

	}
}