section.about {
	padding-bottom: 110px;
	.about-title:before{
		content: "";
		width:150px;
		background: #fbaf22;
		border-top: 5px solid #fbaf22;
		display: block;
		margin: auto;
		margin-bottom: 50px;
	}
	.about-img{
		position: relative;
		margin: auto;
		margin-top: 115px;
	}
	.content-text{
		p{
			margin-bottom: 40px; 
		}
	}
	.button-wrapper{
		margin: auto;
	}
	.download-report{
		margin: auto;
		float: none;
	}
}