//// Base Variables
$containerwidth: 1200px;

//// Colors 

$gold: #fbaf22;
$goldopaque: rgba(251, 175, 34, .7);
// Ex: “Case Studies” Title, Title Slide Circle Overlay, “Why women & Climate?” Background

$orange: #ce6513;
// Ex: Title Slide & Moving Forward Background Image Overlays, “5 Steps” section background

$red: #bb2e02;
$redopaque: rgba(187, 46, 2, .7);
// Ex: “Why Women & Climate?” Title color, “Resources & In the Media” Footer Background, used in the sidebar menu to show active/hover states

$darkred: #850c00;
// Ex: “Resources & In the Media” footer icon/text color

$teal: #448f9c;
// Ex: “About This Report” section background color, used in the modal sidebar menus to indicate hover/active states

$green: #2b585c;
// Ex: Text/Icon background color for “Case Studies” icons, Copyright/Design Credit footer background

$tan: #dad1ba;
// Ex: used for all light-colored icons and light-colored text, athis is also the text color of copyright & design credit in footer

$black: #111111;
$blackopaque: rgba(1,1,1,.9);
$blackopaquelight: rgba(1,1,1,.6);
// Ex: Background color of the sidebar menus (used at various opacities), all dark text is this color (i.e. Title subhead “A Guide to Supporting Grassroots Women’s Action”)

// End Colors

//// Icons
$heart: "\f08a";
$unchecked: url('images/checkbox_unchecked.png');
$checked: url('images/checkbox_checked.png');
$close: url('images/X.png');
$closewhite: url('images/X_white.png');
$arrowright: url('images/Next-Default.png'); 
$arrowrighthover: url('images/Next-Hover.png');
$arrowleft: url('images/Back-Default.png');
$arrowlefthover: url('images/Back-Hover.png');
$backarrow: "\f137";

$selectedone: url('images/selected-arrow-one.png');
$selectedtwo: url('images/selected-arrow-two.png');


*{
	box-sizing: border-box;
}

body {
	// overflow: scroll;
}

a {
	color: $black;
	&:hover { color: $gold; }
}

textarea, input { outline: none; }

//// Typography
h1{
	font-size: 31px;
	font-weight: 900;
	text-transform: uppercase;
	font-family: "lato", sans-serif;
	letter-spacing: 2px;
}

@mixin h1 {
	font-size: 32px;
	font-weight: 900;
	text-transform: uppercase;
	font-family: "lato", sans-serif;
	letter-spacing: 1px;
}

h2{
	font-family: "aleobolditalic";
	font-size: 18px;
	/* text-transform: capitalize; */	
}

@mixin rectangle-button {
	font-family: "lato", sans-serif;
	font-weight: 900;
	font-size: 21px;
	text-transform: uppercase;
	border-radius: 10px;
}

@mixin menu-item {
	font-family: "lato", sans-serif;
	font-weight: 900;
	font-size: 14px;
}

@mixin large-body {
	font-family: "lato", sans-serif;
	font-weight: 700;
	font-size: 28px;
}

@mixin large-italic {
	font-family: "aleobolditalic", sans-serif;
	font-weight: 700;
	font-size: 24px;
}

@mixin medium-body {
	font-family: "lato", sans-serif;
	font-weight: 700;
	font-size: 24px;	
}

@mixin photo-credit{
	font-family: "lato", sans-serif;
	font-size: 12px;
	font-weight: 700;
	font-style: italic;
	text-transform: capitalize;
	position: absolute;
	
}
// End Typography


//// Layout
section{
	width: 100%;
	background-size: cover;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	min-width: $containerwidth;
}

.container{
	width: $containerwidth;
	margin: auto;
	display: block;
}

.content {
	text-align: center;
}
	.content-text{
		font-family: "lato";
		font-size: 28px;
		color: black;
		width: 73%;
		position: relative;
		margin: auto;
		margin-top: 50px;
		line-height: 40px;
		text-align: left;
	}

	.content-textwhite{
		font-family: "lato";
		font-size: 28px;
		color: white;
		width: 68%;
		position: relative;
		margin: auto;
		margin-top: 50px;
		line-height: 40px;
		text-align: center;
	}

.centered-title{
	text-align: center;
	position: relative;
	margin: auto;
	padding-top: 50px;
}

.center div{
	display: inline-block;
	width: 100%;
	position: relative;
	margin: 10px auto 0px;
	height: 260px;
}

.download-report {
	@include rectangle-button;
	@include medium-body;
	font-size: 18px;
	text-decoration: none;
	border: 2px solid $gold;
	padding: 20px 10px;
	display: block;
	width: 360px;
	color: $gold;
	margin: auto;
	margin-top: 60px;
	transition: .25s background-color ease;
	cursor: pointer;

	&:hover {
		background-color: $redopaque;
	}
}

// End Layout

//// Components
@mixin circle {
	.circle {
		border-radius: 50%;
		display: block;
		width: 480px;
		height: 480px;
		background-color: rgba(253, 184, 19, .8);
		position: relative;
		margin: 100px auto 75px;

		.circle-content {
			position: absolute;
			display: block;
			margin: auto;
			height: 230px;
			width: 325px;
			text-align: center;
			vertical-align: middle;
			top: 0;
			bottom: 0;
			left:  0;
			right: 0;	
			
			&:before, &:after {
				content: "";
				width: 150px;
				border-bottom: 5px solid black;
				background: black;
				display: block;
				margin: auto;			
			}	

			h1 {
				color: $red;
				margin: 40px 0 30px;
			}

			h2 {
				margin-bottom: 40px;
				font-size: 20px;
			}
		}
	}
}

@mixin photo-credit-block{
	position: absolute;
	right: 10px;
	bottom: 10px;
	@include photo-credit;
}

@mixin absolutecenter {
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@mixin button {
	@include rectangle-button;
	@include medium-body;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	color: $red;
	border: 4px solid $red;
	padding: 20px 10px;
	display: block;
	width: 360px;
	color: $gold;
	margin: auto;
	margin-top: 60px;
	transition: .25s background-color ease;
	cursor: pointer; 

	a{
		text-decoration: none;
		color: $red;
	}

	&:hover {
		background-color: $redopaque;
		border-color: $darkred;
		a{
			color: $darkred;
		}
	}
}

@mixin download-icon{
	.download-icon {
		position: absolute;
		display: block;
		right: 100px;
		top: 40px;
		width: 105px;
		height: 105px;
		cursor: pointer;
		z-index: 100;
		@include circle;
		.circle {
			width: 100%;
			height:100%;
			margin: 0;
			background: $blackopaque url('');
			-webkit-perspective: 1000px;
			perspective: 1000px;
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease 0.3s;
			transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease 0.1s;			
		}
		
		.dl_icon{
			width: 60%;
			height: 60%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			
			.stroke{
				stroke: $tan
			}
		}

		 
		&:hover .circle{
			-webkit-transform: rotateY(180deg);
			transform: rotateY(180deg);
			background-color: $redopaque;
			&:after{
				content: "Download Full Report"; 
				display: block;
				color: $tan;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				-webkit-transform: rotateY(180deg);
				transform: rotateY(180deg);
				z-index: 10;
				margin: auto;
				height: 20px;
				padding: 0 10px;
				text-align: center;
				@include medium-body;
				font-size: 14px;
			}

			.dl_icon .stroke {
				stroke: $red;
			}
		}
	}
}

@mixin modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1200;
	visibility: hidden;
	-webkit-transform: translateY(-60%) scale(0);
	transform: translateY(-60%) scale(0);
	-webkit-transition: -webkit-transform 0.75s, visibility 0s 0.75s;
	transition: transform 0.75s, visibility 0s 0.75s;

	&.open{
		visibility: visible;
		-webkit-transform: translateY(0%) scale(1);
		transform: translateY(0%) scale(1);
		-webkit-transition: -webkit-transform 0.4s;
		transition: transform 0.4s;
	}

	.modal-nav {
		position: fixed;
		left: 0;
		top: 0;
		width: 80px;
		height: 100%;
		z-index: 1100;
		background: $blackopaquelight;
		a {
			padding: 10px;
			text-align: center;
			display: block;
			border-bottom: 1px solid $black;
			height: 80px;
			position: relative;
			display: block;

			&:hover, &.cycle-pager-active {
				// background: $teal;
				&:after{
					content: "";
					display: block;
					position: absolute;
					width: 0;
					height: 0;
					border-top: 15px solid transparent;
					border-bottom: 15px solid transparent;
					border-left: 15px solid $teal;
					right: 0;
					margin: auto;
					bottom: 0;
					top: 0;
					transition: right .25s ease-in-out;
				}
			}
			&.cycle-pager-active:after {
				right: -15px;
			}
		}
		img{
			max-height: 40px;
			margin: auto;
			@include absolutecenter;
		}

		.Deforestation img, .Climate-Migration img {
			height: 22px;
		}

	}
	.cycle-slideshow {
		width: 100%;
		.slide{
			padding-left: 100px;
		}
	}

}

//Navigation
	.main-nav {
		position: fixed;
		left: -65px;
		top: 0;
		width: 65px;
		height: 100%;
		z-index: 1100;
		background: $blackopaquelight;
		transition: .5s all ease-in-out;

		&.open{ left: 0; }

		li{
			white-space: nowrap;
			clear:both;
			display: block;
			height: 65px;
			margin-bottom: 1px;
		}
		a {
			padding: 0px;
			text-align: center;
			display: block;
			height: 65px;
			position: relative;
			display: block;


			&:hover, &.cycle-pager-active {
				background: $teal;
				&:after{
					content: "";
					display: block;
					position: absolute;
					width: 0;
					height: 0;
					border-top: 15px solid transparent;
					border-bottom: 15px solid transparent;
					border-left: 15px solid $teal;
					right: 0;
					margin: auto;
					bottom: 0;
					top: 0;
					transition: right .25s ease-in-out;
				}
			}
			&.cycle-pager-active:after {
				right: -15px;
			}
		}

		img{
			max-height: 40px;
			margin: auto;
			@include absolutecenter;
		}

		.nav-main-item {
			display: block;
			position: relative;
			transition: all linear .1s;

			a{
				width: 100%;
				overflow: hidden;
				transition: .5s width ease-in-out;
				text-decoration: none;
				color: $tan;
				@include medium-body;
				font-size: 14px;
				text-align: left;

				span{
					display: inline-block;
					vertical-align: middle;
					height: 1em;
					opacity: 0;
					transition: .25s opacity 0s;
				}

				&::before{
					content: "";
					display: inline-block;
					vertical-align: middle;
					width: 65px;
					height: 65px;
					background-size: auto 30px;
					background-repeat: no-repeat;
					background-position: center;
					margin-right: 25px;
				}
				&::after{
					content: none;
					transition: all linear .1s;
				}
			}

			&.active, &:hover{
				transition-delay: 0s;
				&::after{
					content: '';
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 10px 0 10px 10px;
					border-color: transparent transparent transparent $red;
					left: 65px;	
					top: 0;
					bottom: 0;
					margin: auto;
					transition-delay: 0s;
				}
				a{
					&::before{
						background-color: $red;
					}
				}
			}

		}
		#about {
			a::before{
				background-image: url('images/nav-icons/about_tan.png');
			}
			&:hover a::before{
				background-image: url('images/nav-icons/about_black.png');	
			}
			&.active a::before{
				background-image: url('images/nav-icons/about_tan.png');
			}
		}
		#women-climate {
			a::before{
				background-image: url('images/nav-icons/women_climate_tan.png');
			}
			&:hover a::before{
				background-image: url('images/nav-icons/women_climate_black.png');	
			}
			&.active a::before{
				background-image: url('images/nav-icons/women_climate_tan.png');
			}
		}

		#case-studies {
			a::before{
				background-image: url('images/nav-icons/case_studies_tan.png');
			}
			&:hover a::before{
				background-image: url('images/nav-icons/case_studies_black.png');	
			}
			&.active a::before{
				background-image: url('images/nav-icons/case_studies_black.png');
			}
		}

		#moving-forward {
			a::before{
				background-image: url('images/nav-icons/moving_forward_tan.png');
			}
			&:hover a::before{
				background-image: url('images/nav-icons/moving_forward_black.png');	
			}
			&.active a::before{
				background-image: url('images/nav-icons/moving_forward_tan.png');
			}
		}

		#common-cause {
			a::before{
				background-image: url('images/nav-icons/5_steps_tan.png');
			}
			&:hover a::before{
				background-image: url('images/nav-icons/5_steps_black.png');	
			}
			&.active a::before{
				background-image: url('images/nav-icons/5_steps_tan.png');
			}
		}

	}
	.main-nav:hover {
		a {
			width: 375px;
			background: $blackopaquelight;
			span{
				opacity: 1;
				transition-delay: .5s;
			}
		}
	}

	.resources-media, .contact, .case-study-frame {
		z-index: 1200;
	}
