section.case-studies {
	padding: 120px 0;
	.centered-title {
		color: $gold;
		@include h1;
		margin-bottom: 60px;
	}

	.content{
		p{
			color: $tan;
			@include medium-body;
			font-weight: 500;
			line-height: 40px;
			max-width: 80%;
			margin: auto;
			margin-bottom: 80px;
		}
	}

	.cases{
		width: 825px;
		margin: auto;
		text-align: center;
		li{
			display: inline-block;
			vertical-align: top;
			width: 24%;
			height: 300px;
			text-align: center;
			@include circle;
			.circle{
				background-color: $green;
				background-image: none !important;
				width: 150px;
				height: 150px;
				margin-bottom: 40px;
				margin-top: 0;
				cursor: pointer;

				.icon{
					@include absolutecenter;
					z-index: 1;
				}
				.feature-image {
					position: absolute;
					top: 0;
					right: 0;
					width: 100%;
					height: 100%;
					z-index: 0;
					opacity: 0;
					transition: .5s opacity ease-in-out;
				}
			}


			img{
				display: block;
				clear:both;
				margin: auto;
				margin-bottom: 20px;

				&.thumb {
					width: 124px;
					height: auto;
					display: none;
				}

			}
			&:hover{
				.circle{
					background-image: auto !important;
					.feature-image{
						opacity: 1;
					}
				}
				.case-title {
					color: $gold;
					position: relative;
					padding-top: 40px;
					&:before {
						content:"";
						background-image: url('images/case-study-tail.png');
						display: block;
						width: 160px;
						height: 20px;
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						margin: auto;
					}
				}
			}
			.case-title{
				@include medium-body;
				color: $green;
				font-size: 18px;
				display: block;
			}
		}
	}
}



//Frame
.case-study-frame{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
	visibility: hidden;
	-webkit-transform: translateY(-60%) scale(0);
	transform: translateY(-60%) scale(0);
	-webkit-transition: -webkit-transform 0.75s, visibility 0s 0.75s;
	transition: transform 0.75s, visibility 0s 0.75s;

	&.open{
		visibility: visible;
		-webkit-transform: translateY(0%) scale(1);
		transform: translateY(0%) scale(1);
		-webkit-transition: -webkit-transform 0.4s;
		transition: transform 0.4s;
	}

	@include close-button(".case-studies-close");

	.case-study-nav {
		position: fixed;
		left: 0;
		top: 0;
		width: 80px;
		height: 100%;
		z-index: 1100;
		background: $blackopaquelight;
		@include top-fa-button(".back", $fa-arrow-circle-o-left);
		a {
			padding: 0px;
			text-align: center;
			display: block;
			border-bottom: 1px solid $black;
			color: white;
			height: 80px;
			overflow: hidden;
			width: 80px; 
			position: relative;
			display: block;
			transition: .5s all ease-in-out;

			span:not(.icon){
				opacity: 0;
				transition: .5s width linear .5s;
			}
			.icon{
				display: inline-block;
				width: 100%;
				height: 100%;
				max-width: 80px;
				position: relative;
				float: left;
			}

			&:hover, &.cycle-pager-active {
				.icon{
					display: block;
					background-color: $teal;
					padding: 20px;
				}
				// background: $teal;
				&:after{
					content: "";
					display: inline-block;
					position: absolute;
					width: 0;
					height: 0;
					border-top: 15px solid transparent;
					border-bottom: 15px solid transparent;
					border-left: 15px solid $teal;
					left: 80px;
					margin: auto;
					bottom: 0;
					top: 0;
					transition: right .25s ease-in-out;
				}
			}
			&:hover {
				background-color: $blackopaque;
				a{
					text-decoration: none;
					&:hover{
						background-color: $blackopaque;
					}
				}
				span{
				}
			}
			&.cycle-pager-active:after {
				// right: -14px;
			}
		}
		&:hover {
			span:not(.icon){
				opacity: 1 !important;
				transition-delay: 0;	
				float: left;
				padding: 30px 0 0 30px;	 
				width: 250px;
				text-align: left;

			}
			a{
				width: 350px;
				background: $blackopaquelight;
				text-decoration: none;
				@include medium-body;
				font-size: 15px;
				line-height: 1.3em;
				&:hover{
					background: $blackopaque;
					color: $teal;
				}
			}			
		}

		.back{
			display: block;
			width: 80px !important;
			a {
				width: 80px !important;
			}
		}

		img{
			max-height: 40px;
			max-width: 40px;
			margin: auto;
			@include absolutecenter;
		}

		.Deforestation img, .Climate-Migration img {
			height: 22px;
		}

	}

	.controls{
		position: absolute;
		// height: 250px; /* image's height */
	    display: inline-block;
	    vertical-align: middle;
	    font-size: 40px;
	    font-weight: 700;
	    font-family: "arial";
		padding: 0px 10px;
		width: 65px;
		height: 90px;
		top: 0;
		bottom: 0;
		margin: auto;
		cursor: pointer;
		z-index: 2000;

		&:before {
			font-family: "FontAwesome";
			display:inline-block;
			font-size: 100px;
		}

		&#prev {
			left: 80px;
			&:before {
				content: $arrowleft;
			}
			&:hover:before {
				content: $arrowlefthover;
			}
		}

		&#next {
			right: 80px;
			&:before {
				content: $arrowright;
			}
			&:hover:before {
				content: $arrowrighthover;
			}
		}

	}

	.cycle-slideshow {
		width: 100%;
		min-width: $containerwidth;
		height: 100vh;
		padding-left: 50px;
		background: $red;
		overflow-y: scroll;
	}

	.case-study-slide{
		white-space: nowrap;
		display: block;
		height: 100%;
		& > * {
			white-space: normal;
		}

		.case-study-content{
			// @include absolutecenter;
			height: 100%;
		}

		.case-study-info{
			display:inline-block;
			min-height: 100%;
			width: 50%;
			padding-left: 100px;
			background-image: url('images/case_studies_background.png');
			background-size: cover;
			text-align: center;
			padding-bottom: 100px;
			position: relative;

			.case-study-content{
				@include absolutecenter;
				height: 900px;
			}

			h2{
				@include h1;
				width: 500px;
				margin: auto;
				margin-bottom: 40px;

			}

			p {
				width: 500px;
				margin: auto;
				@include medium-body;
				display: block;
				font-weight: 500;
				text-align: left;
				margin-bottom: 40px;
				line-height: 1.5em;
			}

			@include circle;
			.header.circle {
				background: $redopaque;
				width: 130px;
				height: 130px;
				margin: 40px auto;
				background-size: 40% auto;
				img{
					max-width: 60px;
					max-height: 60px;
					@include absolutecenter;
				}
			}

			.lessons {
				width: 500px;
				margin: auto;
				text-align: left;
				h3{
					@include medium-body;
					text-transform: uppercase;
					font-size: 20px;
					margin-bottom: 20px;
				}
				.lesson-pager{
					display: inline-block;
					vertical-align: top;
					span{
						@include absolutecenter;
					}
					.selected{
						background: $redopaque;
					}
				}
				.circle{
					width: 75px;
					height: 75px;
					margin: 0;
					margin-bottom: 30px;
					background: $orange;
					cursor: pointer;
					text-align: center;

					span{
						@include medium-body;
						width: 1em;
						height: 1em;
						@include absolutecenter;
						font-weight: 500;
						color: $tan;
					}
					.selected, &:hover{
						background: $red;
					}
				}
				.selected-block {
					display: inline-block;
					width: 300px;
					height: 200px;
					margin-left: 20px;
					text-align: left;
					color: $red;
					@include medium-body;
					font-style: italic;
					font-size: 18px;
					line-height: 1.5em;
					padding-left: 20px;
					position: relative;

					li:not(.selected){
						opacity:0;
					}

					& > li{
						@include absolutecenter;
						height: 200px;
					}

					.selected {
						background-position: top left;
						background-repeat: no-repeat; 
						padding-left: 50px;
						padding-top: 30px;
						&.first {
							background-image: $selectedone;
						}
						&.second {
							background-image: $selectedtwo;
						}
					}

				}
			}
		}
		.case-study-feature {
			position: absolute;
			display: inline-block;
			vertical-align: top;
			height: 100%;
			width: 50%;
			background: $red;
			padding: 20px;
			padding-top: 290px;
			padding-bottom: 150px;
			margin-left: -4px;
			right: 0;
			color: $tan;
			background-size: cover;
			@include medium-body;
			.case-study-feature-content{
				@include absolutecenter;
				height: 400px;
			}
			.feature-name{
				color: $gold;
				text-align: center;
				font-size: 28px;
				@include medium-body;
				margin-bottom: 8px;
			}
			.feature-title {
				font-weight: 500;
				font-size: 18px;
				margin-bottom: 8px;
				text-align: center;
			}
			.feature-location{
				font-weight: 500;
				font-size: 16px;
				text-align: center;
				font-style: italic;
			}
			p{
				width: 430px;
				margin: auto;
				margin-top: 65px;
				font-size: 18px;
				font-weight: 500;
				line-height: 1.75em;
			}

			.photo-credit{
				bottom: 120px;
				right: 30px;
			}

		}
	}


	.case-study-footer{
		position: absolute;
		bottom: -3px;
		width: 100%;
		padding: 40px 50px 40px 100px;
		z-index: 1001;
		width: 100%;
		background: url('images/FooterBG.png');
		background-size: cover;
		// font-size: 28px;
		@include medium-body;
		color: $green;
		text-transform: uppercase;

		@include download-icon;
		.download-icon{
			width: 70px;
			height: 70px;
			top: 0;
			bottom: 0;
			margin: auto;
						
			.circle {
				background-size: 40% auto;	
				&:after{
					font-size: 8px !important;
					font-weight: normal;
					z-index: 2200;
					display: block;
				}
			}
			&:hover{
				.circle{
					background-size: 40% auto;
				}
			}
		}

		.close{
			&:before{
				content: $backarrow;
				font-family: "FontAwesome";
				margin-right: .5em;
				display: inline-block;
			}
			&:hover, &:hover:before{
				color: $black; 
			}
			.download-icon{
			}
		}

	}

}

