
.common-cause{
	color: $tan;
	h2{
		@include h1;
		margin-top: 100px;
	}
	.content-textwhite {
		@include medium-body;
		color: $tan;
		font-weight: normal;
		width: 780px;
	}
	.pager{
		width: 1200px;
		.controls{
			position: absolute;
			// height: 250px; /* image's height */
		    display: inline-block;
		    vertical-align: middle;
		    font-size: 40px;
		    font-weight: 700;
		    font-family: "arial";
			padding: 0px 10px;
			width: 65px;
			height: 160px;
			top: 0;
			bottom: 0;
			margin: auto;
			cursor: pointer;

			&:before {
				font-family: "FontAwesome";
				display:inline-block;
				font-size: 100px;
			}

			&#prev {
				left: 0px;
				&:before {
					content: $arrowleft;
				}
				&:hover:before {
					content: $arrowlefthover;
				}
			}

			&#next {
				right: 0px;
				&:before {
					content: $arrowright;
				}
				&:hover:before {
					content: $arrowrighthover;
				}
			}

		}
	}
	.cycle-pager{ 
		width: 850px;
		height: 130px;
		margin-bottom: 60px;

		a {
			margin: 20px;
			width: 115px;
			height: 115px;
			display: inline-block;
			vertical-align: middle;
			background-size: auto;
			background-position: center center;
			position: relative;
			text-decoration: none;

			span{
				@include absolutecenter;
				color: $tan;
				width: 80px;
				height: 80px;
				text-align: center;
				@include medium-body;
				font-size: 36px;
				font-weight: normal;
				background-image: none;
				background-color: $orange;
				background-size: auto 100%;
				background-position: center center;
				border-radius: 115px;
				padding: 20px;
				transition: .25s all linear;
				&:hover{
					background-color: $red;
				}
			}
			em{
				position: absolute;
				margin: auto;
				width: 1em;
				height: 1em;
				@include absolutecenter;
			}
			&.cycle-pager-active span{
				width: 115px;
				height: 115px;
				border-radius: 115px;
				background-image: auto !important;
			}
			&:not(.cycle-pager-active) span{
				background-image: none !important;
			}
		}
	}

	.cycle-slideshow {
		height: 610px;
		float: left;
		position: relative;
		.cycle-slide {
		    position:relative;
		    height:600px;
		    width:100%;
		    background: $red;
		    display: block;
		    padding: 320px 0;
		    background-size: cover;

		    h3{
		    	@include medium-body;
		    	text-align: left;
		    	width: 990px;
		    	margin: auto;
		    	color: $gold;
		    	margin-bottom: 1em;
		    }
		    .slide-text {
		    	color: $tan;
		    	line-height: 40px;
		    	@include medium-body;
		    	width: 990px;
		    	margin: auto;
		    	text-align: left;
		    	background-size: cover;
		    	background-position: center center;
		    	background-repeat: no-repeat;
		    }
		}
		.control-container{
			width: $containerwidth;
			@include absolutecenter;
			z-index: 300;
		}
		@include controls;
	}
}