.moving-forward{ 
	background-size: cover;
	background-position: center center;
	margin: auto;
	@include circle;
	.circle {
		@include absolutecenter;
	}
}
section.moving-forward{ 
	background-color: $orange;
	height: 920px;
}
// .moving_forward .circle{
// 	margin: 110px auto 75px;
// }
.moving-forward .circle .circle-content{
	width: 64%;
	width: 360px;
}

div.moving-forward{
	padding: 60px;
} 

.moving-forward p{
	color:$red;
	font-family: "aleobolditalic";
	font-size: 24px;
	text-align: center;
	width: 900px;
	padding-top: 50px;
	padding-bottom: 100px;
	line-height: 1.6em;
	margin: auto;
}

.moving-forward ol{
	margin-left: 0;
    padding-right: 0;
	list-style-type: none;
	width: 900px;
	padding-left: 15px;
	padding-bottom: 50px;
	margin: auto;
}
.moving-forward li{
	counter-increment: step-counter;
	padding-bottom: 40px; 
	font-family: "lato";
	font-size: 24px;
	margin-left: 4em;
	height: 100px;
	line-height: 1.2em;
	/* width: 914px; */
}

.moving-forward li::before{
    content: counter(step-counter);
    margin-right: 25px;
    margin-left: -3.5em;
   	font-family: "lato";
    font-size: 24px; 
    line-height: .75em;
    background-color: $red;
    color: #fbaf22;
    font-weight: bold;
	padding: 20px;
  	border-radius: 50px;
  	width: 20px;
  	height: 20px;
  	display: inline-block;
  	vertical-align: middle;
    border-radius: 50px;
    text-align: center;
}