
.womens-rights{
	background-size: cover;
	background-color: #ce6513;
	height: 770px;
	min-height: 100vh;

	@include circle;
	.circle{
		margin: 80px auto;
		width: 480px;
		height: 480px;
	}
	.container {
		min-height: 100vh;
	}
	.centered-content{
		@include absolutecenter;
		width: 480px;
		height: 780px;
		top: 100px;
	}

	.sub-text{
		@include large-body;
		font-size: 12px;
		text-align: center;
		position: relative;
		margin: auto;
		margin-bottom: 60px;
		width: 435px;
		color: $tan;

		&:before{
			content: $heart;
			font-family: "FontAwesome";
			color: #fbaf22;
			font-size: 24px;
			margin-bottom: 10px;
			display: block;
		}
	}

	.photo-credit {
		@include photo-credit-block;
	}

	@include download_icon;

}