 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{% block html_lang %}en-US{% endblock %}" xml:lang="{% block xml_lang %}en{% endblock %}">
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% block in_head %}
    	<title>{% block title %}{% endblock %}</title>
    	{{ wp_head() }}
	{% endblock %}
</head>
<body class="spark-theme {% block body_class %}{{ body_class }}{% endblock %}">

{% block header %}
	{% include 'views/parts/templates/header.html.twig' %}
{% endblock %}

{% block main_content %}
	Main Content
{% endblock %}

{% block footer %}
	<footer>
		<p>&copy; Copyright 
		<script language="JavaScript" type="text/javascript">
		    now = new Date
		    theYear=now.getYear()
		    if (theYear < 1900)
		    theYear=theYear+1900
		    document.write(theYear)
		</script>
		. All rights reserved.</p>
	</footer>
{% endblock %}
</body>
</html>