
<form id="searchform" class="spark-form spark-region searchform" role="search" method="get"  action="{{ function(home_url) }}">
	<div class="field append">
		<input type="text" class="wide text input" value="{{ function( get_search_query ) }}" name="s" id="s" />
		<div class="medium primary btn" ><input type="submit"id="searchsubmit" value="" /></div>
	</div>
</form>
