<section class="spark browse">
	<nav class="filters"></nav>
	<ul>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
			<div class="detail"></div>
		</li>
		<li class="tile" >
			<img src="http://lorempixel.com/200/200"/>
		</li>
	</ul>
</section>