<section style="background-image: url({{climate_leaders.get_field('background_img')}}) ">
	<div class="content">

		<div class="centered-title">
			<h1 class="yellow-h1">
				{{climate_leaders.title}}
			</h1>
		</div>
		<div class="content-climate-leaders">
			{{climate_leaders.content}}
		</div>
	</div>
</section>

