.accomplishments {
	background: $stronggray;
	padding-bottom: 70px;
	.slides {
		@include container;
	}
	h2 {
		@include large-header;
		background: none;
		color: $purple3;
		@include h2;

	}

	.slide{
		margin-bottom: 40px;
		.date{
			display: inline-block;
			vertical-align: top;
			width: 170px;
			margin-right: 30px;
			text-align: center;
			background: $purple1;
			border-top: 10px solid $purple4;
			color: white;
			padding: 10px 0;
			text-transform: uppercase;
		}
		h4{
			@include h6;
			font-weight: bold;
			line-height: 1.3em;
			margin-bottom: 5px;
		}
		.content {
			display: inline-block;
			vertical-align: top;
			width: 850px;
		}

		&:nth-child(n+6) {
		    opacity: 0;
		    transition: .5s max-height linear, .5s margin-bottom linear, .5s opacity linear; 
		    transition-delay: 0s, 0s, .5s;
		    max-height: 0px;
		    overflow: hidden;
    		margin-bottom: 0px;
		}

	}

	.load-more{
		display: block;
		background: $purple4;
		padding: 10px 20px;
		width: 170px;
		color: white;
		margin: auto;
		transition: .5s max-height linear;
		&:before{
			content: $leftarrow;
			font-family: "FontAwesome";
			margin-right: 20px;
		    -moz-transform: rotate(-90deg);
		    -ms-transform: rotate(-90deg); /* IE 9 */
		    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
		    transform: rotate(-90deg);
			display: inline-block;
			width: 0.6em;
			height: 1.4em;
		}
	}

	.slides.loaded {
		.slide:nth-child(n+6) {
		    opacity: 1;  
		    max-height: 100px;
    		margin-bottom: 40px;
		}	
		.load-more{
			visibility: hidden;
		}	
	}
}