.view-full-image{
	p{
		color: #ff00ff;
		width: 1000px;
		text-align: right;
		margin:auto;

	}
}
.spark-modal-trigger.gallery{
	width: 1000px;
	text-align: right;
	margin:auto;
	color: $purple5;
	text-decoration: underline;
	cursor: pointer;
	&:hover{
		color: $teal;
	}
}
.highlight-gallery{
	background: $lightgray;
	h1{
		@include large-header;
		background: none;
		@include h2;
		color: $purple2;
	}

	& > .cycle-slideshow{
		margin: auto;
		text-align: center;
		width: 1000px;
		min-height: 650px;
		margin-top: 4px;
		overflow: hidden;
		.cycle-slide{
			width: 100%;
			min-height: 400px;
		}
		.cycle-slide img{
			width: 100%;
			height: auto;
			border: 10px solid $black;
		}
		.tab-pager{
			display: inline-block;
		}
		.text {
			position: absolute;
			bottom: 20px;
			left: 10px;
			width: 980px;
			background: $purple2opaque;
			color: white;
			text-align: left;
			padding: 20px 40px;
			.caption, .count{
				display: inline-block;
				vertical-align: baseline;
			}
			.caption{ width: 90%; }
			.count{ color: $purple6; width: 8%; text-align: right; line-height: 1em; }

		}
	}
	@include gallery-pager-arrows;
	#thumbnail-pager{
		width: 1000px;
		margin: 0 auto;
		position: relative;
		.cycle-slideshow{
			// padding: 40px;
			width: 100% !important;
			margin-bottom: 1em;
		}
		.cycle-slide{
			padding-top: 40px;
			display: inline-block;
			// margin-top: 1em;
			position: relative !important;
			text-align: left;
			.slideframe{
				margin-right: 1em;
				&:before{
					@include triangledown;
					transition: .5s all ease-in-out;
					left: 0;
					right: 0;
					top: 0;
					position: absolute;
					margin: auto;
				}

				img{
					border: 10px solid $black;
					transition: .25s all ease-in-out;
				}

			}
		}
		.cycle-slide:hover .slideframe img{
			border-color: $purple3;
		}
		.cycle-slide-active{
			.slideframe{
				&:before{
					top: 10px;
					border-width: 0 20px 30px 20px;
				}
				
				img{
					border-color: $purple3;		
				}
			}
		}

		@include feed-pager-arrows;
		.feed-pager{
			bottom: auto;
			top: 70px;
			&.disabled {
				display: none;
			}
			&.next {
				right: -65px;
			}
			&.prev {
				left: -65px;
			}
		}
	}
}
.gallery-full-screen{
	width: 0;
	height: 0;
	max-width: none;
	overflow: hidden;

	&.show{
		width: 100%;
		height: 100%;
		max-width: none;
		position: fixed;
		overflow: scroll;
		background: $opaqueblackdark;
		&:before{ content: none; }
	}
	.modal-content{
		border: 10px solid white;
		width: 1000px;
		position: relative;
		top: 110px;
		left: 0;
		right: 0;
		margin: auto;
		.close{
			display: block;
			position: absolute;
			width: 55px;
			height: 55px;
			background: url(style/images/lightbox-close.png) no-repeat;
			background-size: cover;
			top: 0;
			right: 0;
			z-index: 1000;
		}
	}
	.cycle-slideshow{
		overflow: hidden;
	}
	.cycle-slide{
		width: 100%;
		img { width: 100%; }
	}
	.text {
		position: absolute;
		bottom: 0px;
		width: 980px;
		background: $purple2opaque;
		color: white;
		text-align: left;
		padding: 20px 40px;
		.caption, .count{
			display: inline-block;
			vertical-align: baseline;
		}
		.caption{ width: 90%; }
		.count{ width: 8%; text-align: right; line-height: 1em; color: $purple6;}
	}
}