.view-full-image{
	p{
		color: #ff00ff;
		width: 1000px;
		text-align: right;
		margin:auto;

	}
}
.spark-modal-trigger.gallery{
	width: 1000px;
	text-align: right;
	margin:auto;
	color: $purple5;
	text-decoration: underline;
	cursor: pointer;
	&:hover{
		color: $teal;
	}
}
.highlight-gallery{
	background: $lightgray;
	h1{
		@include large-header;
		background: none;
		@include h2;
		color: $purple2;
	}

	& > .cycle-slideshow{
		margin: auto;
		text-align: center;
		width: 1000px;
		margin-top: 4px;
		overflow: hidden;
		.cycle-slide{
			width: 100%;
		}
		.cycle-slide img{
			width: 100%;
			height: auto;
			border: 10px solid $black;
		}
		.tab-pager{
			display: inline-block;
		}
		.text {
			position: absolute;
			bottom: 20px;
			left: 10px;
			width: 980px;
			background: $purple2opaque;
			color: white;
			text-align: left;
			padding: 20px 40px;
			.caption, .count{
				display: inline-block;
				vertical-align: baseline;
			}
			.caption{ width: 90%; }
			.count{ width: 8%; text-align: right; line-height: 1em; }

		}
	}
	@include gallery-pager-arrows;
	#thumbnail-pager{
		width: 1000px;
		margin: 40px auto;
		padding: 0 70px;
		position: relative;
		.cycle-slide{
			display: inline-block;
			margin-right: 1em;
			position: relative;
			text-align: left;
			&:before{
				@include triangledown;
				transition: .5s all ease-in-out;
				left: 0;
				right: 0;
				top: 0;
				position: absolute;
				margin: auto;
			}
		}
		.cycle-slide img{
			border: 10px solid $black;
			transition: .25s all ease-in-out;
		}
		.cycle-slide:hover img{
			border-color: $purple3;
		}
		.cycle-pager-active{
			&:before{
				border-width: 0 30px 40px 30px;
				top: -30px;
			}
			
			img{
				border-color: $purple3;		
			}
		}
		@include feed-pager-arrows;
	}
}
.gallery-full-screen{
	width: 0;
	height: 0;
	max-width: none;
	overflow: hidden;

	&.show{
		width: 100%;
		height: 100%;
		max-width: none;
		position: fixed;
		overflow: scroll;
		background: $opaqueblackdark;
		&:before{ content: none; }
	}
	.modal-content{
		border: 10px solid white;
		width: 1000px;
		position: relative;
		top: 110px;
		left: 0;
		right: 0;
		margin: auto;
		.close{
			display: block;
			position: absolute;
			width: 55px;
			height: 55px;
			background: url(style/images/lightbox-close.png) no-repeat;
			background-size: cover;
			top: 0;
			right: 0;
			z-index: 1000;
		}
	}
	.cycle-slideshow{
		overflow: hidden;
	}
	.cycle-slide{
		width: 100%;
		img { width: 100%; }
	}
	.text {
		position: absolute;
		bottom: 0px;
		width: 980px;
		background: $purple2opaque;
		color: white;
		text-align: left;
		padding: 20px 40px;
		.caption, .count{
			display: inline-block;
			vertical-align: baseline;
		}
		.caption{ width: 90%; }
		.count{ width: 8%; text-align: right; line-height: 1em; }
	}
}