
.issue-areas {
	.tab{
		@include issue_tab;
		padding: 55px;
		border-color: $black;
		cursor: pointer;
		&.active{
			border-color: $purple4;
		}
		&:after{
			content:'';
			background: rgba(0,0,0,.3);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 0;
			display: block;
			transition: .25s all ease-in-out;
		}
		.slide-content{
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto 20px;
			width: auto;
			height: 70px;
			text-align: center;
			z-index: 10;
			transition: .25s all ease-in-out;
		}
		h4{
			@include h3; 
			color: white;
			
		}
		div {
			opacity: 0;
			transition: .25s opacity ease-in-out, .25s color ease-in-out;
			transition-delay: 0s, 0s;
		}
		&:hover, &.cycle-pager-active {
			h4{
				@include h4;
				text-align: center;
				color: $teal;
				padding-bottom: 14px;
				margin-bottom: 14px;
				border-bottom: 3px solid white; 
				z-index: 10;
				position: relative;
			}
			div {
				@include short-body;
				max-height: 10em;
				line-height: 1.3em;
				color: white;
				z-index: 10;
				position: relative;
				opacity: 1;
				transition-delay: .25s;
			}	
			.slide-content{
				height: 150px;
			}	
			&:after {
				background: rgba(0,0,0,.6);
			}
		}
		&:before {
			@include triangledown;
			bottom: -80px;
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			transition: .5s all ease-in-out;
		}
		&.cycle-pager-active{
			&:before{
				border-width: 0 40px 50px 40px;
			}
		}
	}
}
.tab-content{
	padding: 0;
	max-height: 0;
	overflow: hidden;
	transition: 1s max-height ease-in-out;
	position: relative;

	&.cycle-slideshow{
		max-height: 5000px;
	}

	// display: none;
	& > ul {
		padding: 0;
		width: 100%;

	}
	.tab-content-group {
		@include container;
		
	}
	h2 {
		@include large_header;
		@include h2;
	}

	.close-tab{
		display: block;
		top: 0;
		margin: 0;
		height: 50px;
		width: 50px;
		background: url(style/images/close_inactive.png) no-repeat;
		cursor: pointer;
	}

	.slide {
		width: 100%;
	}

	.statistics {
		white-space: nowrap;
		border-bottom: 1px solid $black;
		li {
			white-space: normal;
			display: inline-block;
			text-align: center;
			vertical-align: top;
			width: 30%;
			padding: 70px 60px 40px;
			&:not(:nth-child(3)){
				margin-right: 5%;
			}
			h4{
				@include h4;
				color: $purple5;
				text-align: center;
				margin-bottom: .25em;
			}
			h5{
				@include h5;
				font-size: 22px;
				line-height: 1em;
				margin-bottom: .5em;
				text-align: center;
				color: $purple3;
			}
			.description{
				@include short-body;
				text-transform: uppercase;
				line-height: 1.3em;
				font-size: 14px;
			}
		}
	}
	.statistic-content {
		padding: 60px 0;
		p {
			margin-bottom: 25px;
		}
	}
	.tab-pager{
		@include container;
		width: 1230px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		padding-bottom:40px;
		display: block;
		white-space: nowrap;
		color: $purple5;
		li{
			display: inline-block;
			width: auto;
			padding-bottom: 3px;
			border-bottom: 1px solid $purple5;
			text-align: center;
			cursor: pointer;
			font-weight: bold;
			text-transform: uppercase;
			&.prev {
				margin-right: 50%;
			}
			&.next {
				float: right;
			}
			&:hover{
				border-color: $teal;
			}	
		}
	}
}

.file-feed {
	@include file_downloader; 
}
.close-tab{
	position: absolute;
	right: 140px;
	margin-top: 275px;
}