
.issue-areas {
	.tab{
		@include issue_tab;
		padding: 55px;
		border-color: $black;
		&.active{
			border-color: $purple4;
		}
		&:after{
			content:'';
			background: rgba(0,0,0,.3);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 0;
			display: block;
			transition: .25s all ease-in-out;
		}
		.slide-content{
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto 20px;
			width: auto;
			height: 70px;
			text-align: center;
			z-index: 10;
			transition: .25s all ease-in-out;
		}
		h4{
			@include h3; 
			color: white;
			
		}
		div {
			opacity: 0;
			transition: .25s opacity ease-in-out .25s;
		}
		&:hover {
			h4{
				@include h4;
				text-align: center;
				color: $teal;
				padding-bottom: 14px;
				margin-bottom: 14px;
				border-bottom: 3px solid white; 
				z-index: 10;
				position: relative;
			}
			div {
				@include short-body;
				max-height: 10em;
				line-height: 1.3em;
				color: white;
				z-index: 10;
				position: relative;
				opacity: 1;
			}	
			.slide-content{
				height: 150px;
			}	
			&:after {
				background: rgba(0,0,0,.6);
			}
		}
	}
}
.tab-content{
	padding: 0;
	display: none;
	& > ul {
		padding: 0;
		width: 100%;

	}
	.tab-content-group {
		@include container;
	}
	h2 {
		@include large_header;
		@include h2;
	}

	.statistics {
		white-space: nowrap;
		border-bottom: 1px solid $black;
		li {
			white-space: normal;
			display: inline-block;
			text-align: center;
			vertical-align: top;
			width: 30%;
			padding: 70px 60px 40px;
			&:not(:nth-child(3)){
				margin-right: 5%;
			}
			h4{
				@include h4;
				color: $purple5;
				text-align: center;
				margin-bottom: .25em;
			}
			h5{
				@include h5;
				font-size: 22px;
				line-height: 1em;
				margin-bottom: .5em;
				text-align: center;
				color: $purple3;
			}
			.description{
				@include short-body;
				text-transform: uppercase;
				line-height: 1.3em;
				font-size: 14px;
			}
		}
	}
	.statistic-content {
		padding: 60px 0;
		p {
			margin-bottom: 20px;
		}
	}
	.tab-pager{
		@include container;
		padding-bottom: 100px;
		display: block;
		white-space: nowrap;
		color: $purple4;
		li{
			display: inline-block;
			width: auto;
			padding-bottom: 3px;
			border-bottom: 1px solid $purple4;
			text-align: center;
			&.prev {
				margin-right: 50%;
			}
			&.next {
				float: right;
			}
		}
	}
}

.papers-factsheets {
	hgroup{
		@include large_header;
		background: $purple1;
		h2{ 
			@include h2; 
			width: auto;
			padding-bottom: 20px;
			border-bottom: 2px solid $purple5;
			margin-bottom: 10px; 
			display: inline-block;
		}
		span{
			display: block;
			@include h7;
		}
	}
	.filters {
		@include large_header;
		background: $lightgray;
		@include h6;
		font-size: 28px; 
		padding: 40px;
		position: relative;
		z-index: 100;

		li {
			display: inline-block;
			width: 200px;
			&:not(:last-of-type){
				padding-right: 20px;
				border-right: 2px solid $stronggray;
			}

			&.paper {
				color: $purple2;
				a { color: $purple2; }
				&:before{ content: $paper;}
			}

			&.factsheet {
				color: $purple4;
				text-align: right;
				a { color: $purple4; }
				&:before{ content: $factsheet;}
			}

			&:before {
				display: inline-block;
				font-size: 30px;	
				font-family: "FontAwesome";
				margin-right: 10px; 
			} 

		}
		&:after {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: "";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-top-color: $lightgray;
			border-width: 30px;
			margin-left: -30px;
		}
	}
	background: $stronggray;
	.slides {
		@include container; 
		text-align: center;
		padding: 90px 0 110px;

	}
	.file{
		display: inline-block;
		width: 255px; 
		margin-bottom: 30px;
		height: 255px;
		vertical-align: top;

		padding: 50px 30px;
		text-align: center;
		background: $lightgray;
		box-shadow: 0 0 10px 0 #888; 

		a {
			@include h6;
			font-size: 20px;
			text-decoration: none;
			margin-top: 20px;
			line-height: 1em;
			display: block;
		}

		&:not(:nth-child(3n)){
			margin-right: 100px;
		}

		&.Paper {
			border-top: 20px solid $purple2;
			color: $purple2;
			a { color: $purple2; }
			&:before{ content: $paper;}
		}

		&.Fact.Sheet {
			border-top: 20px solid $purple4;
			color: $purple4;
			a { color: $purple4; }
			&:before{ content: $factsheet;}
		}

		&:before {
			display: block;
			font-size: 30px;	
			font-family: "FontAwesome";
			margin-bottom: 10px; 
		} 
	}
}