
nav.full-width-nav{
	position: relative;
	z-index: 1;
	background: $purple2;

	.container{
		// width: 100%;
		// padding: 0 60px;
		position: static;
		ul{
			@include container;
		}
	}
	.nav-drop{
		width: 100%;
	}
	
	& > ul > li {
		display: inline-block;
		// margin-right: 80px;
		@include h6;

		a{
			display: block;
			text-decoration: none;
			color: white;
		}

		& > a {
			padding: 19px 40px;
		}

		&.current_page_item{
			background: $purple1;
			border-bottom: 5px solid $purple3;
			a { color: $teal; }

		}

		.nav-drop {
			// display: none;
			position: absolute;
			background: $purple1;
			width: 100%;
			left: 0;
			padding: 0 #{$margin}px;
			line-height: 1.5rem;
			z-index: -1;
			bottom: 0;
			height: 0;
			overflow: hidden;
			transition: .5s all ease-in-out; 
			ul { 
				// position: absolute;
				bottom: 0;
			}
			li{
				display: inline-block;
				@include sub-nav;
				margin-right: 1.5rem;
				line-height: 2rem;
			}
		}
		&:hover .nav-drop{
			height: 32px;
			bottom: -32px

		}
	}
}