
nav.full-width-nav{
	position: relative;
	z-index: 1;
	background: $purple2;

	.container{
		// width: 100%;
		// padding: 0 60px;
		position: static;
		ul{
			@include container;
		}
	}
	.nav-drop{
		width: 100%;
	}
	
	& > ul > li {
		display: inline-block;
		// margin-right: 80px;
		@include h6;

		a, span{
			display: block;
			text-decoration: none;
			color: white;
		}

		&:hover > a, &:hover > span{
			color: $teal; 
		}

		& > a, span {
			padding: 19px 28px;
		}

		&.current_page_item{
			background: $purple1;
			border-bottom: 5px solid $purple3;
			a, span { color: $teal; }

		}

		.nav-drop {
			// display: none;
			position: absolute;
			background: $purple1;
			width: 100%;
			left: 0;
			padding: 0;
			line-height: 1.5rem;
			z-index: -1;
			bottom: 0;
			height: 0;
			overflow: hidden;
			transition: .5s all ease-in-out .5s; 
			ul { 
				// position: absolute;
				bottom: 0;
				padding: 0 88px;
			}
			li{
				display: inline-block;
				@include sub-nav;
				margin-right: 1.5rem;
				line-height: 2rem;

				&:hover a {
					color: $teal;
				}
			}
		}
		&:hover {
			.nav-drop{
				height: 52px;
				bottom: -52px;
				padding: 10px 0;
			}
		}
	}
}