
section.action-feature {
	height: 690px;
	position: relative;
	.container > div{
		margin: auto;
		position: absolute;
		display: block;
		width: 900px;
		top: 220px;
		background: $purple4opaque;
		bottom: 85px;
		left: 0;
		right: 0;
		color: white;
		.main-text, .feature-link {
			padding: 30px;
			display: block;
		}
	}
	h2{
		@include h4;
		text-align: center;
		font-size: 48px;
		margin-bottom: 20px; 
	}
	.main-text > p {
		text-align: center;
		@include long-body;
		font-size: 32px;
	}
	.feature-link {
		background: $purple1;
		& > * {
			display: inline-block;
			vertical-align: middle;
		}
		a{
			background: $purple5;
			color: white;
			text-decoration: none;
			padding: 25px 35px;
			margin-right: 20px;
			letter-spacing: 1px;
			@include h6;
		}
		a:hover{
			background: $purple6;
		}
		span {
			@include short-body;
			width: 390px;
			font-size: 18px;
			line-height: 1.3em;
		}
	}
}

.featured-news.events {
	width: 100%;
	padding-top: 0;
	h2{
		max-width: 9000px;
		width: 100%;
		@include large-header;
		background: none;
		color: $purple3;
		@include h2;
		padding: 90px;
	}
	@include feed-pager-arrows;
	.slide{
		padding: 0;
		height: 415px;
		vertical-align: top;
		cursor: pointer;		
		.image-head{
			display: block;
			width: 100%;
			height: 215px;  
			text-align: center;
			padding: 45px 20px;
			font-size: 28px;
			background-size: cover;
			background-position: center;
			position: relative;
			// -webkit-filter: grayscale(100%);
			//   -moz-filter: grayscale(100%);
			//   -ms-filter: grayscale(100%);
			//   -o-filter: grayscale(100%);
			//   filter: grayscale(100%);
			//   filter: url(grayscale.svg); /* Firefox 4+ */
			//   filter: gray; /* IE 6-9 */;
			  &:after{
			  	content: '';
			  	position: absolute;
			  	display: block;
			  	width: 100%;
			  	height: 100%;
			  	background: rgba(0,0,0,.6);
			  	top: 0;
			  	left: 0;
			  	z-index: 0;
			  }
			  & > * {
			 //  	z-index: 1;
			 //  	position: relative;
				// -webkit-filter: grayscale(100%);
				// -moz-filter: none;
				// -ms-filter: none;
				// -o-filter: none;
				// filter: none;
			  }
		}
		h4 {
			background: none;
			@include h4;
			font-size: 26px;
			line-height: 1em;
			height: 80px;
			color: white;
		}
		h5{
			@include h6;
			color: white;
			// font-weight: bold;
		}
		h4,h5{
			position: relative;
			z-index: 1;
		}
		span{
			background: $purple1;
			@include short-body;
			display: block;
			height: 200px;
			line-height: 1.5em;
			padding: 20px 25px;
			font-size: 18px;
			color: white;
		}
		&.active, &:hover{
			span{ background: $purple3; }
			h4, .read-more, .read-more:before {
				color: $teal !important;
			}
		}

		.event-info {
			position: absolute;
			left: 0;
			width: 100%;
			background: $purple3;
			bottom: -355px;
			color: white;
			padding: 40px;
			visibility: hidden;
			trasition: .25s bottom ease-in-out, .25 opacity ease-in-out;
			.contain{
				width: $container-width;

			}
		}
		&:hover{
			.image-head a {
				color: $purple3;
			}
			a.read-more {
				color: $purple6;
				&:before{
					color: $purple6;
				}
			}
		}
	}

}

.event-detail {
	max-height: 0px;
	min-height: 0px;
	padding: 0;
	overflow: hidden;
	transition: .5s all ease-in-out;
	color: white;
	background: $purple3;
	.event-info{
		max-height: 0px;
		overflow-y: hidden;
		visibility: hidden;
		transition: 1s max-height ease-in-out, .5s visibility 0s;
		cursor: pointer;
		.contain{
			width: #{$container-width}px;
			margin: auto;
			display: block;
			position: relative;
			p {
				position: relative;
				display: block;
				z-index: 10;
			}
			&:before{
				content: '';
				top: -60px;
				transition: top .25s ease-in-out .15s;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 40px 40px 40px;
				border-color: transparent transparent $purple3 transparent;
				position: absolute;
				z-index: 0;
			}
		}
	}
	& > * {
		opacity: 0;
		transition: .5s opacity ease-in-out .5s;
	}
	&.open {
		overflow: visible;
		max-height: 700px;
		min-height: 400px;
		padding: 60px 0;
		position: relative;
		& > * {
			opacity: 1;
		}
		.event-info{
			transition: 0s visibility ease-in-out 0s; 
			visibility: visible;

			&[slide-index="1"]{
				.contain:before{
					left: 170px;
				}
			}
			&[slide-index="2"]{
				.contain:before{
					left: 560px;
				}
			}
			&[slide-index="3"]{
				.contain:before{
					left: 940px;
				}
			}

			&.active{
				visibility: visible;
				max-height: 1000px;
				transition: .5s;
				position: relative;
				overflow-y: visible;
				.contain:before{
					top: -100px;
				}
				h4{
					color: $teal;
				}
			}		
			h4{
				@include h2;
				font-size: 28px;
				padding-left: 0;
				font-weight: bold;
				color: $teal; 
				margin-bottom: 20px;
			}				
		}
	}
}

