
.scrolling-tabs{
	background: $stronggray;
	padding: 0px #{$margin}px;
	& > h2, .tabs, .tab-content ul { @include container; }
	& > h2{ margin: 0px auto; @include h2; text-align: center; color: $purple3; padding:60px;}
	.tabs{
		// padding: #{$margin}px #{$margin}px; #{$margin}px
		padding: 0px 0px 60px 0px;
		text-align: center;
		.team-member{
			display: inline-block;
			position: relative;
			vertical-align: top;
			width: 210px;
			height: 210px;
			margin-right: 40px;
			border: 5px solid $black;

			&:before{
				content: '';
				display: block;
				position: absolute;
				top:0;
				bottom:0;
				left:0;
				right: 0;
				background-color: rgba(0,0,0,.5);
				width: 100%;
				height: 100%;
				transition: .25s all ease-in-out;
			}

			&.cycle-pager-active{
				border: 5px solid $purple3;
				&:before{ content: none; }
				&:after { 
					content: ''; 
					display: block;
					width: 100%;
					border-bottom: 10px solid $purple3;
					position: absolute;
					bottom: -95px;
					z-index: 100;
				}
			}
			.front {
				position: relative;
				display: block;
				width: 1000;
				height: 100%;
				transition: .25s all ease-in-out;
				display: none;
				margin: auto;
			}
			&:not(.active) .front{
				display: none;

				h2{
					position: absolute;
					display: block;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					height: 1em;
					width: auto;
					text-align: center;
					@include h6;
					color: white;
				}
				&:before{
					content: '';
					display: block;
					position: absolute;
					top:0;
					bottom:0;
					left:0;
					right: 0;
					background-color: rgba(0,0,0,.2);
					width: 100%;
					height: 100%;
					transition: .25s all ease-in-out;
				}
			}
			&:not(.active):hover {
				border-color: $purple4;
				.front{
					display: block;
				}
				&:before{
					background-color: $purple4opaque;
				}
			}			
		}
	}
}
.tab-pager{
	z-index: 100;
}
.tab-content{
	background: $lightgray;
	padding: #{$margin}px #{$margin}px;
	& > ul { 
		@include container; 
		padding: 75px #{$margin}px;
	}
	.team-member-content{
		.front{
			width: 1100px;
			margin: auto;
		}
		h2{
			@include h2;
			color: $purple3;
			background: none;
			text-align: left;
			padding: 60px 0 10px;
		}
		h3 {
			@include short-body;
			text-transform: uppercase;
		}
		.links{
			margin: 35px 0 45px;
			li{
				display: inline-block;

				a { 
					color: $purple5; 
					text-decoration: none;
					margin-right: 30px;
					&:before {
						content: '';
						font-family: "FontAwesome";
						font-size: 20px;
						margin-right: 10px;
					}
					&:hover{
						color: $purple6;
						&:before{ color: $purple6; }
					}
				}
				&.email a:before{
					content: $mail;
				}
				&.personal-link a:before{
					content: $comment;
				}
			}
		}
		.member-bio {
			@include long-body; 
			margin: auto;

		}

	}
}

.board-of-directors{
	background: $purple2;
	padding: #{$margin}px 0;
	color: white;
	h2 {
		@include h2;
		margin: #{$margin}px 0;
		text-align: center;
	}
	.member-list {
		li{
			display: inline-block;
			vertical-align: top;
			width: 45%;
			margin-bottom: 20px;
			&:nth-child(odd){
				margin-right: 7%;
			}
			h4{
				@include h6;
				font-size: 30px;
			}
			span {
				@include short-body;
				color: $stronggray;
			}

		}
	}
}

.coalitions-partnerships {
	background: $lightgray;
	padding: #{$margin}px 0;
	& > h2, & > ul {
		@include container;
	}
	h2 {
		@include h2;
		margin: #{$margin}px auto;
		text-align: center;
	}
	ul {
		li {
			display: inline-block;
			width: 45%;
			margin-bottom: 20px;
			&:nth-child(odd){
				margin-right: 7%;
			}
			.thumbnail{
				display: inline-block;
				vertical-align: top;
				width: 116px;
				background: $purple3;
				a {
					color: $teal;
					text-align: center;
					display: block;
					padding: 10px 0;
					text-decoration: none;
					text-transform: uppercase;
					font-size: 20px;
					&:before{
						content: $circlerightarrow;
						font-family: 'FontAwesome';
						font-size: 18px;
						margin-right: 5px;
					}
					&:hover {
						background: $purple5;
					}
				}
			}
			img {
				width: 116px;
				height: 116px;
				border-width: 3px solid $black; 
				display: block;
				position: relative;

			}
			.content{
				display: inline-block;
				vertical-align: top;
				width: 330px;
				margin-left: 30px;
				margin-bottom: 50px;
				h4{
					color: $purple5;
					// font-weight: bold;
				}
			}
		}
	}

}

.partners {
	background: $purple2;
	color: white;
	padding-bottom: 70px;

	& > h2, & > ul {
		@include container;
	}
	h2 {
		@include h2;
		padding: #{$margin}px;
		text-align: left;
	}
	& > ul {
		li{
			display: inline-block;
			vertical-align: top;
			width: 48%;
			margin-bottom: 20px;
			&:nth-child(odd){
				margin-right: 3%;
			}
			h4{
				@include h6;
				text-transform: uppercase;
				font-size: 30px;
			}
			a {
				@include short-body;
				color: $teal;
				text-decoration: none;
			}

		}
	}
}
