<section class="board-of-directors">
	<div class="container">
		<h2 class="section-heading"> {{ header }} </h2>
		<ul class="member-list">
		{% for member in content.get_field('board_of_directors') %}
			<li>
				<h4>{{ member.name }}</h4>
				<span>{{ member.title }}</span>
			</li>
		{% endfor %}
		</ul>
	</div>
</section>