<div class="spark-modal donate">
	<div class="modal-content">
		<img src="{{ bloginfo('stylesheet_directory') }}/images/donate.jpg"/>
		<div class="text">
			<h2>Thank You for Supporting Rights4Girls!</h2>
			<p>Our work would not be possible without supporters like you. Each dollar you donate helps achieve our goal of ending the cycle of violence against young women and girls– whether they be victims of child sex trafficking, girls subject to solitary confinement in detention, or pregnant girls forced to give birth in shackles. </p>
			<a class="button" href="{{ donate_link }}" target="_blank">Donate Now</a>
		</div>
		<span class="close"></span>
	</div>
</div>