<li class="event-info" slide-index="{{ loop.index }}">
	<span class="close"></span>
	<div class="contain">
		<h4>{{ slide.post_title }}</h4>
		<div class="content">{{ slide.content }}</div>
		<span class="credit">{{ slide.video_credit }}</span>
	</div>
</li>