<section class="file-feed {{ spark_class }}">
	{% if header %}
	<hgroup>
		<h2>{{ header }}</h2>
		{% if header_caption %}<span>{{ header_caption }}</span>{% endif %}
	</hgroup>
	{% endif %}
	{% if filters %}
	{% include '/views/components/filters.twig' %}
	{% endif %}
	<ul class="slides">
		{% for file in content.get_field('download_files') %}
		{% include slide_template %}
		{% endfor %}
	</ul>
</section>