<section class="partners">
	<h2 class="section-heading"> {{ header }} </h2>
	<ul>
		{% for partner in content.get_field('partners') %}
			<li>
				<h4>{{ partner.partner_name }}</h4>
				<a href="{{ partner.partner_link }}" target="_blank">{{ partner.partner_link }}</a>
			</li>
		{% endfor %}
	</ul>
</section>