<section class="spark-text-block {{ spark_class }}">
	<h3>{{ petition.heading }}</h3>
	<div class="text">
		<p>{{ petition.text }}</p>
		<a href="{{ petition.link }}">Sign The Petition</a>
	</div>
</section>