<section class="spark-text-block {{ spark_class }}">
	<h2>{{ petition.heading }}</h2>
	<div class="text">
		<p>{{ petition.text }}</p>
		<a href="{{ petition.link }}" target="_blank">Sign The Petition</a>
	</div>
</section>