<li class="slide" style="background-image:url( '{{ slide.issue_image.url }}' );">
	<div class="front">
		{# {{ dump(slide) }} #}
		<h2>{{ slide.issue_heading }}</h2>
		<h3>{{ slide.issue_caption }}</h3>
	</div>
</li>