<section id="about" class="about" style="background-image: url({{about.get_field('background_img')}}) ">

	<div class="content">
		
		<img class="about-img" src="/wp-content/uploads/2015/02/icon-circles.png">
		
		<div class="about-title">
			<h1>{{about.title}}</h1>
		</div>

		<div class="content-text">
			{{about.content}}
		</div>

		<div class="button-wrapper">
		<span class="download-report" >DOWNLOAD FULL REPORT</span>
		</div>
	</div>
</section>