<div class="case-study-frame">
	<ul class="case-study-nav">
	</ul>
	<div class="controls" id="prev"></div>
	<div class="controls" id="next"></div>
    <div 	class="cycle-slideshow" 
		    data-cycle-fx="scrollHorz"
		    data-cycle-timeout="0"
		    data-cycle-prev=".case-study-frame #prev"
		    data-cycle-next=".case-study-frame #next"
		    data-cycle-slides="> section"
		    data-cycle-pager=".case-study-nav"
    >
    	{% for case in climate_leaders.get_field('case_study') %}
    		{% include 'views/sections/case_study_modal_slide.twig' %}
    	{% endfor %}
	</div>
	<div class="case-study-footer">
		<span class="close">Back To Main Page</span>
		<div class="download-icon">
			<div class="circle">
				{% include "views/svg/dl_icon.twig" %}
			</div>
		</div>
	</div>
</div>