<section style="background-image: url({{common_cause.get_field('background_img')}}) ">
	<div class="content">

		<div class="centered-title">
			<h1 class="white-h1">
				{{common_cause.title}}
			</h1>
		</div>
		<div class="content-textwhite">
			{{common_cause.content}}
		</div>
	</div>
<div class="common-cause-controller">
	<div class="controls" id="prev"> < </div>
    <div class="common-cause-pager"></div>
   	<div class="controls" id="next"> > </div>
</div>
<div class="center" align="center" vertical-align="middle" height="267px">

    <!-- <div class="controls" id="prev"> < </div>
    <div class="common-cause-pager"></div>
   	<div class="controls" id="next"> > </div> -->

    <div class="cycle-slideshow" 
    data-cycle-fx="scrollHorz"
    data-cycle-timeout="2000"
    data-cycle-pager=".common-cause-pager"
    data-cycle-prev="#prev"
    data-cycle-next="#next"
    data-cycle-slides="> span"
    
    >
    

    <!-- empty element for pager links -->

    <div class="cycle-pager "></div>

    <span><img src="http://lorempixel.com/1200/385"></span>
    <span><img src="http://lorempixel.com/1200/385"></span>
    <span><img src="http://lorempixel.com/1200/385"></span>
    <span><img src="http://lorempixel.com/1200/385"></span>
</div>



</div>



</section>