<ul class="main-nav">
 {% for item in nav.get_items %}
    <li id="{{ item.attr_title }}" class="nav-main-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="#{{ item.attr_title }}">{{item.title}}</a>
    </li>
{% endfor %}
</ul>