<ul class="main-nav">
 {% for item in nav.get_items %}
    <li id="{{ item.attr_title }}" 
    	class="nav-main-item {{item.classes | join(' ')}}">
    	<a 	class="nav-main-link" 
    		href="#{{ item.attr_title }}"
    		data-scroll>
    		<span class="title">{{item.title}}</span>
    	</a>
    </li>
{% endfor %}
	<li id="top" class="top">
		<a href="#womens-rights">Top</a>
	</li>
</ul>