<section style="background-image: url({{report.get_field('background_img')}}) " >
	
	<div class="report-page">
		<div class="report-circle" style="background-image:url({{ report.get_field('sub_image') }});">
			<img class="icon" src="{{ report.get_field('icon').url}}"/>
		</div>

		<div class="report-block">

			<div class="report-content">
				{{report.content}}
			</div>

			<div class="button-wrapper">
				<span class="download-report" >DOWNLOAD FULL REPORT</span>
			</div>

		</div>

	</div>

	

</section>