{% if resource.type == "section title" %}
	<li>
		<h3 class="section-header">{{ resource.name }}</h3>
	</li>
{% else %}
	<li>
		<span class="title">{{ resource.name }}</span>
		<span class="caption">{{ resource.caption }}</span>
	</li>
{% endif %}