<section class="resources-media">
	<ul class="modal-nav">
	</ul>
    <div 	class="cycle-slideshow" 
		    data-cycle-fx="scrollVert"
		    data-cycle-timeout="0"
		    data-cycle-prev="#prev"
		    data-cycle-next="#next"
		    data-cycle-slides=".slide"
		    data-cycle-pager=".resources-media .modal-nav"
    >
    	<li class="slide resources" data-cycle-pager-template="<a href='#' data-index='1' class='resources'>R</a>" >
    		<h2>Resources</h2>
    		<ol>
		      	{% for resource in footer.get_field('resources') %}
		    		{% include 'views/sections/resources_slide.twig' %}
		    	{% endfor %}
    		</ol>
    	</li>
    	<li class="slide media" data-cycle-pager-template="<a href='#' data-index='2' class='media'>M</a>">
    		<h2>Resources</h2>
    		<ol>
		      	{% for media in footer.get_field('media') %}
		    		{% include 'views/sections/media_slide.twig' %}
		    	{% endfor %}
    		</ol>
    	</li>
	</div>
	<div class="case-study-footer">
		<a class="close">Back To Main Page</a>
	</div>
</section>