{% if resource.type == "section title" %}
	{% if loop.first == false %}
	</ol>
	{% endif %}
	<h3 class="section-header">{{ resource.name }}</h3>
	<ol>
{% else %}
	<li>
		<div>
			<span class="title">{{ resource.name }}</span>
			<span class="caption">{{ resource.caption }}</span>
		</div>
	</li>
{% endif %}
{% if loop.last %}
	</ol>
{% endif %}