<section style="background-image: url({{women_climate.get_field('background_img')}}) ">

<div class="centered-title">
	<h1 class="brown-h1"> 
		{{women_climate.title}}
	</h1>
</div>

<div class="cycle-slideshow" 
    data-cycle-fx=scrollHorz
    data-cycle-timeout=2000
    >
    <!-- empty element for pager links -->
    <div class="cycle-pager"></div>

    <img src="http://malsup.github.io/images/p1.jpg">
    <img src="http://malsup.github.io/images/p2.jpg">
    <img src="http://malsup.github.io/images/p3.jpg">
    <img src="http://malsup.github.io/images/p4.jpg">
</div>

</section>

